
/*************** Title Styling ************/

.title_ser{
    margin-top: 70px;
    text-align: center;
    color: #081853;
}
.work{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc{
    font-size: 28px;
    padding: 40px;
    width: 50%;
}
.desc h1{
    text-align: center;
}
.swiper{
    width: 50%;
}
.swiper-slide{
    background-color: white;
}
.work.pair{
    direction: rtl;
}
.desc.pair{
    direction: ltr;
}
.btn{
    margin: 20px;
    text-align: center;
}
.btn a button{
    width: 220px;
    height: 50px;
    border: none;
    background: #6320F0;
    color: white;
    font-size: 25px;
    text-align: center;
    transition: all 1s;
    border-radius: 7px;
}
.btn a button:hover{
    color: #081853;
    box-shadow: #081853 4px 3px 2px;
}
.separer{
    width: 95%;
    height: 3px;
    background-color: #081853;
    border-radius: 5px;
    margin: auto;
}
/*********************** Header styling **************************/
.header.scrolled{
    background-color: white;
    box-shadow: #959494 0px 1px 0px;
    transition: all 1.2s;
}
.header.scrolled .navigationlinks li a{
    color: #081853;
}
.header.scrolled .selectLang select{
    color: #081853;
}
.header.scrolled .serviceList ul li a{
    color: white;
}
 .header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: rgba(12, 4, 65, 0.45);
    z-index: 10000;
    position: fixed; top: 0px;
 }
 option{
    color: #081853;
    padding: 10px;
 }
 .navlist_btn{
    display: none;
 }
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    position: absolute;
    left: 0px;
}
.logo img{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.work{
    padding: 40px;
}
.swiper img{
    width: 400px;
    height: 480px;
}
@media screen and (max-width: 1040px){
    .work{
        flex-direction: column;
    }
   .desc{
    width: 100%;
    padding: 15px;
    }
    .swiper{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 10px;
    }
    .btn{
        width: 100%;
        margin: auto;
    }

} 



